<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dovetail.Properties.Settings.dovetail_dbConnectionString"
            connectionString="Data Source=dovetail2018.database.windows.net;Initial Catalog=dovetail-db;User ID=admin0;Password=bronco!devs098"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>